In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system,'
filee = open('test.txt','w')
filee.write(test1)

44

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [3]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

In [4]:
if test1==test2:
    print('Both are same')

Both are same

In [ ]:
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [6]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [7]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

In [ ]:
5. Read books.csv and insert its data into the book table.

In [8]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [9]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [10]:
c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [11]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [14]:
!pip install redis

Requirement already satisfied: redis in c:\users\preeti badiger\ana\lib\site-packages (4.3.4)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\preeti badiger\ana\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: packaging>=20.4 in c:\users\preeti badiger\ana\lib\site-packages (from redis) (21.0)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\preeti badiger\ana\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\preeti badiger\ana\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\preeti badiger\ana\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
conn.hincrby('test','count', 3)